---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag | slugify }}/
layout: page
renderData:
  title: "Tag: “{{ tag }}”"
---

{% set postslist = collections[ tag ] %}
{% include "_includes/postslist.njk" %}

<hr>

<p class="heading h6">
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</p>