---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag | slugify }}/
layout: _base.njk
renderData:
  title: "Tagged “{{ tag }}”"
---

<h1><small>Tag:</small><br/> {{ tag }}</h1>

{% set postslist = collections[ tag ] %}
{% include "_includes/postslist.njk" %}

<hr>

<p class="is-style-heading h6">
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</p>