/* Global position / box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
}

/* Set core body defaults */
:root {
	text-rendering: optimizeLegibility;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	scroll-behavior: smooth;

	font-family: "Dosis", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue","Helvetica", "Arial", sans-serif;

	font-size: calc(100% + 1vmin);
	font-weight: 350;
	line-height: 1.5;
}


/* Set colors */
:root {
	--background-color: hsl(35, 43%, 90%);
		
	--text-color: hsl(29, 67%, 15%);
	
	--heading-color: hsl(14, 71%, 47%);

	--link-color: hsl(76, 42%, 38%);
	--link-color-hover: hsl(195, 48%, 37%);

	--focus-color: hsl(34, 92%, 63%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: hsl(0, 0%, 0%);
		
		--text-color: hsl(0, 0%, 95%);

		--heading-color: hsl(0, 0%, 90%);

		--link-color: hsl(0, 0%, 100%);
		--link-color-hover: hsl(175, 90%, 90%);

		--focus-color: hsl(300, 90%, 90%);
	}
}

:focus {
	outline-color: transparent;
	outline-width: 0;
	box-shadow: 0 0 0 0.15em var(--focus-color);
}

::selection {
  color: var(--background-color);
  background-color: var(--link-color);
} 


body {
	margin: 0 auto;
	max-width: 65ch;

	padding: 1rem;
	padding: calc(1vh + 0.5rem) calc(1vw + 1rem);

	color: hsl(0, 0%, 10%);
	color: var(--text-color);
	
	background-color: hsl(0, 0%, 95%);
	background-color: var(--background-color);
}
body > * {
	padding: 1rem;
	padding: calc(0.5vh + 0.5rem) calc(1vw + 1rem);
	margin: 0;
}

/* Set up HTML 5 Elements in old browsers */
article,
aside,
figure,
footer,
header,
hgroup,
main,
section,
details {
	display: block;
}

/* The owl */
* + * {
	margin-top: 1rem;
	margin-top: var(--flow-spacing, 1rem);
	margin-bottom: 0;
}

strong, strong a {
	font-weight: 450;
}
small {
	font-weight: 375;
	font-size: 75%;
}

a {
	color: var(--link-color);
	font-weight: 375;

	text-decoration-thickness: 0.05em;
	text-underline-offset: 0.1em;

	transition-property: color, background-color, border-color, text-decoration-color, box-shadow, transform, filter, opacity;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
a:hover, a:active {
	color: var(--link-color-hover);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
	font-weight: 550;
}

h1, h1 a {
	font-weight: 800;
	letter-spacing: 0.01em;
	font-size: 1.4rem;
}
h2, h1 a {
	font-size: 1.25rem;
	font-weight: 700;
}
h3, h3 a {
	font-size: 1.15rem;
	font-weight: 650;
}

h1,
h2 {
	--flow-spacing: 2.25rem;

	color: var(--heading-color);
}
h3,
h4 {
	--flow-spacing: 1.5rem;
}

/* Reasonable list defaults */
ul,
ol,
dl {
	padding-left: 1.25em;
}
li ul,
li ol,
li dl {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
li + li {
	margin-top: 0.25em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
	filter: blur(10px);
}

section {
	margin: 0;
}
section + section {
	margin-top: 4rem;
}


details {
	padding: 0 0.75rem;
	font-size: 0.9em;
}
summary {
	margin: 0 -0.5rem;
	font-weight: 500;
}

.lead {
	font-size: 1.15em;
	font-weight: 400;
}
.lead strong {
	font-weight: 550;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* content made available only to screen readers */
.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	border: 0;
	white-space: nowrap;
}
