/* Define colors */
:root {
	--black: hsl(0, 0%, 0%);

	--white: hsl(0, 0%, 100%);

	/* Day */
	--brown: hsl(29, 67%, 15%);

	--tan: hsl(35, 43%, 90%);

	--orange: hsl(14, 71%, 47%);

	--green: hsl(76, 42%, 38%);

	--blue: hsl(195, 48%, 37%);

	--yellow: hsl(34, 92%, 63%);

	/* Night */
	--tan-light: hsl(35, 43%, 95%);

	--orange-light: hsl(14, 71%, 80%);

	--green-light: hsl(76, 42%, 78%);

	--blue-light: hsl(195, 48%, 77%);

	--yellow-light: hsl(34, 92%, 82%);
}

/* Set colors */
:root {
	--background-color: var(--tan);

	--background-tint-transparent: hsla(0, 0%, 100%, 0.5);

	--text-color: var(--brown);

	--accent-color: var(--orange);

	--heading-color: var(--orange);

	--link-color: var(--green);
	--link-color-hover: var(--blue);

	--focus-color: var(--yellow);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--brown);

		--background-tint-transparent: hsla(0, 0%, 100%, 0.05);

		--text-color: var(--tan);

		--accent-color: var(--orange-light);

		--heading-color: var(--orange-light);

		--link-color: var(--green-light);
		--link-color-hover: var(--blue-light);

		--focus-color: var(--yellow-light);
	}
}

@media print {
	:root {
		--background-color: transparent;

		--text-color: var(--black);

		--accent-color: var(--black);

		--heading-color: var(--black);

		--link-color: var(--gray-dark);

		--link-color-hover: var(--gray-dark);

		--focus-color: var(--gray-light);
	}
}

/* Global position / box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
}

/* Set core body defaults */
:root {
	text-rendering: optimizeLegibility;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	scroll-behavior: smooth;

	font-family: "Dosis", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		"Helvetica", "Arial", sans-serif;

	font-size: calc(100% + 1vmin);
	font-weight: 350;
	line-height: 1.5;
}
@media print {
	:root {
		font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
			"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
			"Helvetica Neue", "Helvetica", "Arial", sans-serif;

		font-size: 100%;
		font-weight: 400;
	}
}

:focus {
	outline-color: transparent;
	outline-width: 0;
	box-shadow: 0 0 0 0.15em var(--focus-color);
}

::selection {
	color: var(--background-color);
	background-color: var(--link-color);
}

body {
	margin: 0;

	color: hsl(0, 0%, 10%);
	color: var(--text-color);

	background-color: hsl(0, 0%, 95%);
	background-color: var(--background-color);
}
body > * {
	padding: 1rem;
	margin: 0;
}
@media screen {
	body > * {
		padding: calc(0.5vh + 0.5rem) calc(1vw + 1rem);
	}
}

/* Set up HTML 5 Elements in old browsers */
article,
aside,
figure,
footer,
header,
hgroup,
main,
section,
details {
	display: block;
}

main {
	padding: 1rem;
}
@media screen {
	main {
		max-width: 65ch;
		margin: 0 auto;
		padding: calc(1vh + 0.5rem) calc(1vw + 1rem);
	}
}

/* The owl */
* + * {
	margin-top: 1rem;
	margin-top: var(--flow-spacing, 1rem);
	margin-bottom: 0;
}

strong,
strong a {
	font-weight: 450;
}
small {
	font-weight: 375;
	font-size: 75%;
}

abbr {
	text-decoration: underline dashed;

	text-decoration-line: underline;
	text-decoration-style: dashed;
	text-decoration-color: var(--accent-color);
	text-decoration-thickness: 0.05em;
	text-underline-offset: 0.1em;
}

a {
	color: var(--link-color);
	font-weight: 375;

	text-decoration-thickness: 0.05em;
	text-underline-offset: 0.1em;

	transition-property: color, background-color, border-color,
		text-decoration-color, box-shadow, transform, filter, opacity;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}
a:hover,
a:active {
	color: var(--link-color-hover);
}

@supports (text-decoration-color: var(--link-color-hover)) {
	a {
		text-decoration-color: var(--link-color-hover);
	}
}

@media print {
	a {
		text-decoration: none;
	}
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

@media print {
	a[href]::after {
		content: "(" attr(href) ")";
		margin-left: 0.3em;
		font-weight: 400;
		text-decoration: none;
	}
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
	font-weight: 550;
}

h1,
h1 a {
	font-weight: 800;
	letter-spacing: 0.01em;
	font-size: 1.4rem;
}
h2,
h1 a {
	font-size: 1.25rem;
	font-weight: 700;
}
h3,
h3 a {
	font-size: 1.15rem;
	font-weight: 650;
}

h1,
h2 {
	--flow-spacing: 2.25rem;

	color: var(--heading-color);
}
h3,
h4 {
	--flow-spacing: 1.5rem;
}

/* Reasonable list defaults */
ul,
ol,
dl {
	padding-left: 1.25em;
}
li ul,
li ol,
li dl {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
li + li {
	margin-top: 0.25em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Buttons and button links */

.button {
	display: inline-block;
	padding: 0.6em 0.9em;
	line-height: 1;

	background-color: white;

	border-radius: 4rem;
}
.button--trailing-arrow::after {
	content: ">";
	margin-left: 0.3em;
	text-decoration: none;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
	filter: blur(10px);
}

section {
	margin: 0;
}
section + section {
	margin-top: 4rem;
}
@media screen {
	section + section {
	}
}

details {
	padding: 0 0.75rem;
	font-size: 0.9em;
}
summary {
	margin: 0 -0.5rem;
	font-weight: 500;
}
@media print {
	details:not([open]) {
		display: none;
	}
}

.lead {
	font-size: 1.15em;
	font-weight: 400;
}
.lead strong {
	font-weight: 550;
}

.center {
	text-align: center;
}

footer {
	margin-top: 3rem;
	text-align: center;
	font-size: 0.8em;
	font-weight: 700;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* content made available only to screen readers */
.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	border: 0;
	white-space: nowrap;
}

/* Fancy header */

.site-header {
	position: relative;
	text-align: center;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	justify-content: space-evenly;
}
.site-header > * {
	margin: 0.25rem 0.5rem;
}
@media screen {
	.site-header {
		padding-top: 1rem;
		padding-left: 0;
		padding-right: 4vw;
		padding-bottom: 8vw;
	}
	.site-header::after {
		content: "";

		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 3vw;
		bottom: 6vw;

		background-color: var(--background-tint-transparent);

		border-radius: 0% 0% 10vw 0% / 0% 0% 10vw 0%;
		box-shadow: 0 0 0 2vw var(--orange), 0 0 0 4vw var(--yellow),
			0 0 0 6vw var(--green);
	}
}

.site-header nav {
}
.site-header ul,
.site-header li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.site-header nav ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
}
.site-header nav li {
	margin: 0.2em 0.25em;
	margin: calc(0.1em + 0.5vw) calc(0.2em + 1vw);
}

.site-header a {
	font-weight: 800;
}

.site-logo {
	line-height: 0;
}
.site-logo svg {
	width: calc(30ch + 10vw);
	max-width: 90%;
}
@media print {
	.site-logo svg {
		width: calc(300px);
	}
}
