/* Global position / box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

/* Set core body defaults */
:root {
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  scroll-behavior: smooth;

  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;

  font-size: calc(100% + 0.5vmin);
  line-height: 1.5;
}

body {
  margin: 0 auto;
  max-width: 60ch;
  padding: 2rem;

  color: hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 95%);
}

@media (prefers-color-scheme: dark) {
  body {
    background: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 95%);
  }
}

/* Set up HTML 5 Elements in old browsers */
article,
aside,
figure,
footer,
header,
hgroup,
main,
section,
details {
  display: block;
}

/* The owl */
* + * {
  margin-top: 1rem;
  margin-top: var(--flow-spacing, 1rem);
  margin-bottom: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-weight: 600;
}

h1 {
  font-weight: 700;
  letter-spacing: 0.01em;
}

h1,
h2 {
  --flow-spacing: 2.25rem;
}
h3,
h4 {
  --flow-spacing: 1.5rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Reasonable list defaults */
ul,
ol,
dl {
  padding-left: 1.25em;
}
li + li {
  margin-top: 0.25em;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

section {
  margin-top: 2rem;
}

summary {
  font-size: 1.1em;
  font-weight: 500;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  --margin: 1rem;
  --modifier: calc(30rem - 100%);
  margin: calc(var(--margin) * -1);
}

.columns > * {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
}

.columns > * > *:first-child {
  margin-top: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* content made available only to screen readers */
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}
