<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{%- set titleTag -%}{% if title or renderData.title %}{{ title or renderData.title }}{{ metadata.title_separator }}{% endif %}{{ metadata.title }}{%- endset -%}
<title>{{ titleTag | markdown | striptags }}</title>

<script type="module">
  document.documentElement.classList.remove('no-js');
  document.documentElement.classList.add('js');
</script>

<link rel="canonical" href="{{ page.url | url | absoluteUrl(metadata.url) }}">

{# {% set css %}
{% include "src/css/base.css" %}
{% endset %}
<style id="base-css" media="all">
  {{ css | cssmin | safe }}
</style> #}

<link id="base-css" rel="stylesheet" href="/css/base.css" media="all" />
<link id="theme-css" rel="stylesheet" href="/css/1977.css" media="screen" />
<link id="print-css" rel="stylesheet" href="/css/print.css" media="print" />

{%- if description -%}<meta name="description" content="{{ description | markdown | striptags }}">{%- endif -%}

{%- if robots %}<meta name="robots" content="{{ robots }}">{%- endif -%}

{# TODO: Add RSS feeds collection to loop over #}
<link rel="alternate" type="application/rss+xml" title="{{ metadata.title }} – Posts" href="/feed/posts.xml"/>

<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="alternate icon" type="image/png" sizes="512x512" href="/favicon.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="manifest" href="/manifest.json"> 

<meta name="generator" content="{{ eleventy.generator }}">