<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

		<title>
				{%- if title or renderData.title -%}
						{{ title or renderData.title }}&nbsp;&bull;&nbsp;
				{%- endif -%}
				{{ metadata.title }}
		</title>

		{% if description %}
				<meta name="description" content="{{description}}">
		{% endif %}

		{% if robots %}
				<meta name="robots" content="{{robots}}">
		{% endif %}

		{% block fonts %}
				{% include "_includes/fonts.njk" %}
		{% endblock %}

		{% set css %}
		{% include "assets/css/base.css" %}
		{% include "assets/css/year-1972.css" %}
		{% endset %}
		<style>
				{{css | cssmin | safe}}
		</style>

		<link rel="stylesheet" href="/assets/css/print.css" media="print" as="style"/>

		{% include "_includes/favicon.njk" %}
</head>