<nav class="nav nav-horizontal" id="nav-contact" aria-label="Contact">
		<span class="nav__title">Contact:</span>
		{% set navPages = contact %}
		<ul>
				{%- for item in navPages %}
						<li>
								<a href="{{ item.href | url }}" data-print-label="{{ item.value }}" aria-label="{{ item.title }}: {{ item.value }}">
										{{ item.title }}
								</a>
						</li>
				{%- endfor %}
		</ul>
</nav>