<nav class="nav-contact" aria-label="Contact">
		<p>Contact:</p>
		{% set navPages = contact %}
		<ul>
				{%- for item in navPages %}
						<li {% if item.icon %} data-icon="{{ item.icon }}" {% endif %}>
								<a href="{{ item.href | url }}">{{ item.title }}</a>
						</li>
				{%- endfor %}
		</ul>
</nav>