<section class="intro" id="intro" aria-label="About Me">

<div class="lead">

<div class="lead__content">

# Hi.

<p>I build websites that are <strong>fast</strong>, <strong>functional</strong> and <strong>beautiful</strong> using accessible and semantic <strong><abbr title="HyperText Markup Language">HTML</abbr></strong>, reusable and resilient <strong><abbr title="Cascading Stylesheets">CSS</abbr></strong>, and <em>just enough</em> <strong>JavaScript</strong>.
</p>

</div>

<figure class="lead__image">

<picture>
	<source 
		srcset="
			/static/img/portrait-308px.webp 308w,
			/static/img/portrait-615px.webp 615w,
			/static/img/portrait.webp 1230w
		"
		sizes="
			(min-width: 1200px) 20vw, 
			(min-width: 767px) 33vw, 
			50vw
		"
		 type="image/webp">
	<img src="/static/img/portrait.jpg" alt="Cory Birdsong" 
		width="615" height="615" 
		srcset="
			/static/img/portrait-308px.jpg 308w,
			/static/img/portrait-615px.jpg 615w,
			/static/img/portrait.jpg 1230w
		"
		sizes="
			(min-width: 1200px) 20vw, 
			(min-width: 767px) 33vw, 
			50vw
		"
		loading="eager">
</picture>

</figure>

</div>

{% if page.fileSlug == 'about' %}
	
<div class="intro__content">

I have extensive experience collaborating with designers to strike the perfect balance between form and function.

I love learning about new capabilities in browsers and figuring out how to employ them as progressive enhancement.

I have a keen eye for detail and love laboring over sites to get them _just right_.

</div>

{% else %}

<div class="intro__content text-center">

**[Find out more about me](/about/)**, or **[view my full resume](/resume/)**.

</div>

{% endif %}

</section>