<div class="site-logo">
		<a href="{{ '/' | url }}" aria-label="{{ metadata.title }}">
				{% include "static/img/name.svg" %}
		</a>
</div>

{% include "_includes/nav-site.njk" %}

<ul class="site-header-contact-info">
		<li class="url">
				<span class="visually-hidden">Website:</span>
				birdsong.dev
		</li>
		<li class="phone" aria-label="Phone: (985) 570-3709" data-content="(985) 570-3709"></li>
		<li class="email" aria-label="Email: cory@birdsong.dev" data-content="cory@birdsong.dev"></li>
		<!-- I have no idea if this technique is effective anti-spam or not. -->
</ul>