/* Global reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
	margin: 0;
}

/* The owl */
* + * {
	margin-top: 1rem;
	margin-top: var(--flow-spacing, 1rem);
	margin-bottom: 0;
}

/* Set root defaults */
:root {
	text-rendering: optimizeLegibility;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	scroll-behavior: smooth;
}

/* Set type */
:root {
	--font-weight-normal: var(--font-weight-base);
	--font-weight-light: calc(var(--font-weight-normal) - 100);
	--font-weight-heavy: calc(var(--font-weight-normal) + 100);

	font-size: 120%;

	line-height: 1.5;
}
@media screen {
	:root {
		font-size: calc(100% + 1vw);
	}
}
@media screen and (min-width: 40rem) {
	:root {
		--font-weight-base: 375;
	}
}
@media screen and (min-width: 60rem) {
	:root {
		--font-weight-base: 350;
	}
}

:focus {
	outline: 0.1em solid currentColor;

	outline-offset: 0.05em;
	outline-style: dashed;
	outline-color: var(--focus-color, currentColor);
}

::selection {
	color: var(--background-color);
	background-color: var(--link-color);
}

body {
	margin: 0;

	color: hsl(0, 0%, 10%);
	color: var(--text-color);

	background-color: hsl(0, 0%, 95%);
	background-color: var(--background-color);
}
body > * {
	margin: 0;
}

.site-wrapper {
	margin: 0;
	padding-bottom: env(safe-area-inset-bottom);
}
.site-wrapper > * {
	margin: 0;
	padding: calc(0.5vh + 0.5rem) calc(1vw + 1rem);

	/* for notched iPhones */
	padding-left: calc(1vw + 1rem + env(safe-area-inset-left));
	padding-right: calc(1vw + 1rem + env(safe-area-inset-right));
}
.site-wrapper > main {
	padding-top: calc(1vh + 1rem);
	padding-bottom: calc(1vh + 1rem);
}

/* Set up HTML 5 Elements in old browsers */
article,
aside,
figure,
footer,
header,
hgroup,
main,
section,
details {
	display: block;
}

a {
	color: hsl(76, 42%, 38%);

	text-decoration-thickness: 0.05em;
	text-underline-offset: 0.1em;
	text-decoration-skip-ink: auto;
}

@supports (color: var(--link-color)) {
	a {
		color: var(--link-color);
	}
	a:visited {
	}
	a:hover,
	a:active {
		color: var(--link-color-hover);
	}
}

@supports (text-decoration-color: var(--link-color-hover)) {
	a {
		text-decoration-color: var(--link-color-hover);
	}
}

/* External links */

a[target="_blank"]::after {
	content: "\002197";
	/* north east arrow (U+2197)  */

	display: inline-block;
	color: var(--link-color-hover);
	margin-right: -0.1em;
	transform: translateY(0.1667em);
}
a[target="_blank"] + small {
	margin-left: 0.5em;
}

/* Text states */

strong {
	--font-weight-normal: calc(var(--font-weight-base) + 100);

	font-weight: var(--font-weight-heavy);
	font-feature-settings: "salt" on;
}

small {
	font-weight: calc(var(--font-weight-base) + 25);
	font-size: 75%;
}

@supports not (font-synthesis: style) {
	@media screen {
		em {
			display: inline-block;
			margin: 0;
			transform: skew(-10deg, 0deg);
			--explanation-for-transform-skew: "Chromium doesn't support 'font-synthesis' to make fake italics when variable fonts do not include italics.";
		}
	}
}

abbr {
	text-decoration: underline dashed;

	text-decoration-line: underline;
	text-decoration-style: dashed;
	text-decoration-color: var(--accent-color);
	text-decoration-thickness: 0.05em;
	text-underline-offset: 0.1em;
}
a abbr {
	text-decoration-color: var(--link-color);
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	--flow-spacing: 1.5rem;

	line-height: 1.25;
	font-weight: 550;

	font-feature-settings: "salt" on;
}

h1,
h1 a {
	font-size: 1.4em;
	font-weight: 800;
	letter-spacing: 0.01em;
}
h2,
h2 a {
	font-size: 1.25em;
	font-weight: 700;
}
h3,
h3 a {
	font-size: 1.15em;
	font-weight: 650;
}

h1,
h2 {
	color: var(--heading-color);
}
h3,
h4 {
}

/* Reasonable list defaults */
ul,
ol,
dl {
	padding-left: 1.25em;
}
li ul,
li ol,
li dl {
	margin: 0.25em 0;
	margin: var(--list-spacing, 0.25em) 0;
}

li + li {
	margin-top: 0.25em;
	margin-top: var(--list-spacing, 0.25em);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Buttons and button links */

.button {
	display: inline-block;
	padding: 0.6em 0.9em;
	line-height: 1;

	background-color: white;

	border-radius: 4rem;
}

/* Images */

img {
	display: block;
	max-width: 100%;
}
figure img {
	margin: 0;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
	filter: blur(10px);
}

details {
	padding: 0 0.75rem;
	font-size: 0.9em;
}

summary {
	margin: 0 -0.5rem;
	padding: 0 0.25rem;
	font-weight: calc(var(--font-weight-heavy) + 50);
	border-radius: 0.5em;
}

summary:hover,
summary:active {
	background-color: var(--background-color--translucent);

	cursor: pointer;
	cursor: help;
}

/* Structural elements */

main {
	padding: 1rem;
	padding: calc(1vh + 1rem) calc(1vw + 1rem);
}

article {
	max-width: 30rem;
	margin: 0 auto;
}
article > * + * {
	margin-top: 2em;
}

/* @supports (display: grid) {
	article {
		max-width: 100%;

		display: grid;
		grid-gap: 3rem 0;
		grid-template-columns:
			[full-start] minmax(0, 1fr)
			[content-start] minmax(0, 30rem)
			[content-end] minmax(0, 1fr)
			[full-end];
	}
	article > * {
		margin-top: 0;
		grid-column: content-start / content-end;
	}
} */

section {
}
aside {
	font-size: 0.9em;
}

.lead {
	--font-weight-normal: calc(var(--font-weight-base) + 50);
	--font-weight-heavy: calc(var(--font-weight-base) + 200);

	font-size: 1.15em;
	font-weight: var(--font-weight-normal);
}

.center {
	text-align: center;
}

.print-only {
	display: none;
	margin: 0;
}

/* Basic transitions */
a,
summary,
button {
	transition-property: color, background-color, border-color, text-decoration-color, box-shadow, transform, filter,
		opacity;
	transition-timing-function: ease-in-out;
	transition-duration: var(--transition-duration, 300ms);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
		--transition-duration: 0.01ms;
	}
}

/* content made available only to screen readers */
.visually-hidden,
.skip-link {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	border: 0;
	white-space: nowrap;
}
.skip-link {
	z-index: 10000;
	display: inline-block;
	padding: 0.5em;

	top: 1rem;
	left: 1rem;

	font-weight: var(--font-weight-heavy);

	--focus-background-color: var(--background-color--full);
}
.skip-link ~ * {
	transition: 250ms ease filter;
}
.skip-link:focus {
	width: auto;
	height: auto;
	overflow: visible;
	clip: auto;
	clip-path: none;
	white-space: normal;
}
.skip-link:focus ~ * {
	filter: sepia(100%) saturate(0.5) opacity(0.5);
}
