@import "plumbing";

@import "1977/fonts";
@import "1977/colors";

body {
	font-family: var(--font-family-base);
}
h1,
h2,
.heading,
.site-logo,
.nav-primary {
	font-family: var(--font-family-heading);
	line-height: var(--line-height-xs);
}
h1,
.h1,
.site-logo,
.nav-primary {
	font-feature-settings: "aalt" on;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
	* {
		font-feature-settings: "aalt" off;
		font-family: inherit;
	}
	a {
		color: inherit;
		text-decoration-color: transparent;

		&:hover,
		&:active {
			text-decoration-color: var(--link-color);
		}
	}
}

/* Fancy focus styles */
@supports (background-clip: content-box) {
	:focus,
	:target {
		position: relative;
		outline-width: 0;
		background-color: transparent;

		&::after {
			content: " ";
			position: absolute;
			z-index: -1;
			top: -0.05em;
			left: -0.2em;
			right: -0.2em;
			bottom: -0.05em;

			border-radius: 0.25em;

			background-color: var(--focus-background-color, var(--background-color--translucent));

			border-width: 2px;
			border-style: dashed;
			border-color: var(--focus-color);
			background-clip: content-box;
		}
	}
}

/* Mask font loads */
main,
nav {
	animation-name: fadeIn;
	animation-duration: 750ms;
	animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	animation-fill-mode: both;
}

/* Basic styles */

a {
	font-weight: calc(var(--font-weight-normal) + 50);
}

@counter-style circles {
	system: cyclic;
	symbols: "\002609";
	suffix: "\00205F ";
}
ul {
	list-style-type: circles;
}

/* Fancy header */

.site-header {
	position: relative;
	text-align: center;

	padding-top: 2vw;
	padding-bottom: 8vw;
}
.site-header::after {
	content: "";

	position: absolute;
	z-index: -10;
	top: 0;
	left: 0;
	right: 3vw;
	bottom: 6vw;

	border-radius: 0% 0% 10vw 0% / 0% 0% 10vw 0%;
	box-shadow: 0 0 0 2vw var(--orange), 0 0 0 4vw var(--yellow), 0 0 0 6vw var(--green);

	background-color: var(--background-color--translucent);

	.page-home & {
		animation-name: headerReveal;
		animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
		animation-timing-function: cubic-bezier(0.44, 0.02, 0.81, 0.88);
		animation-timing-function: cubic-bezier(0.37, 0, 0.67, 0.98);
		animation-timing-function: ease;
		animation-duration: 1s;
		animation-iteration-count: 1;
		animation-fill-mode: both;
	}
}

@keyframes headerReveal {
	0% {
		background-color: transparent;
		clip-path: inset(-6vw 100vw -6vw -6vw);
	}

	90% {
		background-color: transparent;
	}

	100% {
		background-color: var(--background-color--translucent);
		clip-path: inset(-6vw -6vw -6vw -6vw);
	}
}

.site-header__container {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	justify-content: space-between;
	justify-content: space-evenly;

	gap: 0.5rem;
}

@media (min-width: 40em) {
	.site-header__container {
		justify-content: space-between;
	}
}

.site-header__container > * {
	--stack-gap: 0;
}

.site-header nav {
	animation-name: fadeIn;
	animation-duration: 750ms;
	animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	animation-fill-mode: both;
}

@media screen and (min-width: 40em) {
	.site-header nav {
		padding-right: 1vw;
		padding-right: calc(1vw + env(safe-area-inset-right));
	}
}
.site-header ul,
.site-header li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.site-header nav ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
}
.site-header nav li {
	margin: 0.2em 0.25em;
	margin: calc(0.1em + 0.5vw) calc(0.2em + 1vw);
}

.site-header a {
	font-weight: 700;
	text-decoration-color: transparent;
	text-decoration-thickness: 0.12em;
}
.site-header a.active {
	text-decoration-color: var(--accent-color);
}

.site-logo {
	font-size: 2em;
	font-size: clamp(1.75em, 7.5vw, 2.75em);
}

/* Content */

img {
	border: 0.5rem solid var(--background-color--translucent);
	border-radius: 2vw;
}

/* Nav */

.nav-horizontal,
.nav-horizontal ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
.nav-horizontal > * {
	margin: 0.25em;
	padding: 0;
}

.nav-horizontal > .nav__title {
	font-size: 80%;
}
.nav-horizontal ul {
	list-style-position: inside;
	list-style-type: none;
}
.nav-horizontal li {
	margin: 0.25em 0.5em;
}

/* Animations */

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@import "1977/prism";
