@import "plumbing";

/* Global reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
	margin: 0;
}

/* The owl */
* + * {
	margin-top: 1rem;
	margin-top: var(--flow-spacing, 1rem);
	margin-bottom: 0;
}

/* Set root defaults */
:root {
	text-rendering: optimizeLegibility;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	scroll-behavior: smooth;
}

/* Set type */
:root {
	--font-family-base: #{$system-font-family};

	--font-weight-base: 400;

	--font-weight-normal: var(--font-weight-base);
	--font-weight-light: calc(var(--font-weight-normal) - 100);
	--font-weight-heavy: calc(var(--font-weight-normal) + 150);

	--line-height-base: 1.5;
	--line-height-sm: 1.25;
	--line-height-xs: 1;

	font-size: 120%;

	line-height: var(--line-height-base);
}
@media screen {
	:root {
		font-size: calc(100% + 1vw);
	}
}
@media screen and (min-width: 40em) {
	:root {
		--font-weight-base: 375;
	}
}
@media screen and (min-width: 60em) {
	:root {
		--font-weight-base: 350;
	}
}

:focus,
:target {
	outline: 0.1em solid currentColor;

	outline-offset: 0.05em;
	outline-style: dashed;
	outline-color: var(--focus-color, currentColor);
}

::selection {
	color: var(--background-color);
	background-color: var(--link-color);
}

body {
	margin: 0;

	color: var(--text-color);

	background-color: var(--background-color);

	font-family: var(--font-weight-base);

	font-weight: var(--font-weight-normal);
}
body > * {
	margin: 0;
}

.site-wrapper {
	margin: 0;
	padding-bottom: env(safe-area-inset-bottom);
}
.site-wrapper > * {
	margin: 0;
	padding: calc(0.5vh + 0.5rem) calc(1vw + 1rem);

	/* for notched iPhones */
	padding-left: calc(1vw + 1rem + env(safe-area-inset-left));
	padding-right: calc(1vw + 1rem + env(safe-area-inset-right));
}
.site-wrapper > main {
	padding-top: calc(1vh + 1rem);
	padding-bottom: calc(1vh + 1rem);
}

/* Set up HTML 5 Elements in old browsers */
article,
aside,
figure,
footer,
header,
hgroup,
main,
section,
details {
	display: block;
}

a {
	text-decoration-thickness: 2px;
	text-underline-offset: 0.1em;

	text-decoration-color: var(--link-color-hover);

	color: var(--link-color);
}
a:visited {
}
a:hover,
a:active {
	color: var(--link-color-hover);
}

/* External links */

a[target="_blank"]::after {
	content: "\002197";
	/* north east arrow (U+2197)  */

	display: inline-block;
	color: var(--link-color-hover);
	transform: translateY(0.1667em);
	line-height: 1;
}
a[target="_blank"] + small {
	margin-left: 0.5em;
}

/* Text states */

strong {
	font-weight: var(--font-weight-heavy);

	a {
		font-weight: calc(var(--font-weight-heavy) + 100);
	}
}

small {
	font-weight: calc(var(--font-weight-normal) + 25);
	font-size: 75%;

	a {
		font-weight: calc(var(--font-weight-normal) + 75);
	}
}

abbr {
	text-decoration: underline dashed;

	text-decoration-line: underline;
	text-decoration-style: dashed;
	text-decoration-color: var(--accent-color);
	text-decoration-thickness: 2px;
	text-underline-offset: 0.1em;
}
a abbr {
	text-decoration-color: transparent;
}

pre,
code {
	font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", "Consolas", monospace;
	font-weight: inherit;

	font-size: 1rem;
	font-size: min(85%, 1rem);
}
pre code {
	background-color: transparent;
	outline-color: transparent;
	box-shadow: none;
}

pre {
	tab-size: 3;

	padding: 0.75em 1em;
	line-height: var(--line-height-sm);

	border-radius: 0.25em;

	overflow-x: auto;

	$scrollbar-track-color: transparent;
	$scrollbar-thumb-color: var(--focus-color);

	$scrollbar-track-height: 0.5em;
	$scrollbar-thumb-height: 0.35em;

	$scrollbar-track-border-radius: 0.25em;
	$scrollbar-thumb-border-radius: 0.75em;

	scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;

	&::-webkit-scrollbar {
		height: $scrollbar-track-height;
	}

	&::-webkit-scrollbar-track {
		background-color: $scrollbar-track-color;

		border-radius: $scrollbar-track-border-radius;
	}

	&::-webkit-scrollbar-thumb {
		$scrollbar-track-start: $scrollbar-track-height - $scrollbar-thumb-height;
		$scrollbar-track-end: $scrollbar-track-height - $scrollbar-track-start;

		background-color: transparent;
		background-image: linear-gradient(
			transparent 0,
			transparent $scrollbar-track-start,
			$scrollbar-thumb-color $scrollbar-track-start,
			$scrollbar-thumb-color $scrollbar-track-end,
			transparent $scrollbar-track-end
		);

		border-radius: $scrollbar-thumb-border-radius;
	}
}
code {
	// padding-inline: 0.25em;
	// margin-inline: 0.125em;

	border-radius: 0.125em;

	background-color: var(--background-color--translucent);
	// outline: 0.125em solid var(--background-color--translucent);
	box-shadow: 0 0 0 0.125em var(--background-color--translucent);
}

/* Headings */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	--flow-spacing: 1.5rem;

	line-height: var(--line-height-xs);
	font-weight: 550;

	a {
		font-weight: inherit;
	}

	code {
		font-size: 90%;
	}

	max-width: max-content;
}

h1,
.h1 {
	font-size: 1.9em;
	font-size: clamp(1.7em, 7.5vw, 1.9em);

	font-weight: 800;
}
h2,
.h2 {
	font-size: 1.5em;
	font-size: clamp(1.25em, 7.5vw, 1.5em);

	font-weight: 700;
}
h3,
.h3 {
	font-size: 1.2em;
	font-size: clamp(1.1em, 7.5vw, 1.2em);

	font-weight: 650;
}

h1,
.h1,
h2,
.h2 {
	color: var(--heading-color);
}

/* Reasonable list defaults */
ul,
ol {
	padding-left: 1.25em;
}
li ul,
li ol,
li dl {
	margin: 0.25em 0;
	margin: var(--list-spacing, 0.25em) 0;
}

li + li {
	margin-top: 0.25em;
	margin-top: var(--list-spacing, 0.25em);
}

dl {
	display: grid;
	gap: 0.5em 1em;
	grid-template-columns: max-content 1fr;

	line-height: var(--line-height-sm);

	> * {
		--flow-spacing: 0;
	}
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Buttons and button links */

.button {
	display: inline-block;
	padding: 0.6em 0.9em;
	line-height: 1;

	background-color: white;

	border-radius: 4rem;
}

/* Images */

img {
	display: block;
	max-width: 100%;
}
figure img {
	margin: 0;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
	filter: blur(10px);
}

details {
	padding: 0 1rem;
	font-size: 0.85rem;
	font-size: min(75%, 0.85rem);
	--flow-spacing: 0.75em;
	border-radius: 0.5em;
}
details[open] {
	padding-bottom: 1rem;
	background-color: var(--background-color--translucent);
}

summary {
	margin: 0 -1rem;
	padding: 0.25rem;

	font-weight: calc(var(--font-weight-heavy) + 50);

	border-radius: 0.5em;
	line-height: var(--line-height-sm);
}

summary:hover,
summary:active {
	background-color: var(--background-color--translucent);

	cursor: pointer;
	cursor: help;
}

/* Structural elements */

main {
	padding: 1rem;
	padding: calc(1vh + 1rem) calc(1vw + 1rem);
}

.l-container {
	width: 34rem;
	max-width: 100%;
	margin: 0 auto;
}
.l-stack {
	> * + * {
		--flow-spacing: 1em;
	}

	&.gap\:xs {
		> * + * {
			--flow-spacing: 0.25em;
			--flow-spacing: min(0.25em, 0.85rem);
		}
	}

	&.gap\:sm {
		> * + * {
			--flow-spacing: 0.67em;
			--flow-spacing: min(0.67em, 1rem);
		}
	}

	&.gap\:lg {
		> * + * {
			--flow-spacing: 2em;
		}
	}

	&.gap\:xl {
		> * + * {
			--flow-spacing: 3em;
		}
	}
}

section {
}
aside {
	font-size: 0.9em;
}

hr {
	border-style: solid;
	margin-block: var(--flow-spacing);
}

/* Site Header Elements */

.site-logo {
	--link-color: var(--text-color);
}
.site-logo a {
	display: inline-block;
}

.site-header-contact-info {
	display: none;
}

/* Site Content Elements */

.lead {
	--font-weight-normal: calc(var(--font-weight-base) + 50);
	--font-weight-heavy: calc(var(--font-weight-base) + 200);

	font-size: 1.25em;
	font-weight: var(--font-weight-normal);
}

.footnotes {
	padding: 0 0.5em;

	font-size: 0.85rem;
	font-size: min(65%, 0.75rem);

	font-style: italic;
	--list-spacing: 0.5em;
}
.footnote-item:target {
}

article time {
	font-weight: var(--font-weight-heavy);
}

article footer {
	font-size: 0.85rem;
	font-size: min(75%, 0.85rem);
}

/* Utilities */

.has-text-align-center {
	text-align: center;
}

.print-only {
	display: none;
	margin: 0;
}

/* Basic transitions */
a,
summary,
button {
	transition-property: color, background-color, border-color, text-decoration-color, box-shadow, transform, filter,
		opacity;
	transition-timing-function: ease;
	transition-duration: var(--transition-duration, 300ms);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
		--transition-duration: 0.01ms;
	}
}

/* content made available only to screen readers */
.visually-hidden,
.skip-link {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	border: 0;
	white-space: nowrap;
}
.visually-hidden-focusable:focus {
	width: auto;
	height: auto;
	overflow: visible;
	clip: auto;
	clip-path: none;
	white-space: normal;
}

.skip-link {
	z-index: 10000;
	display: inline-block;
	padding: 0.5em;

	top: 1rem;
	left: 1rem;

	font-weight: var(--font-weight-heavy);

	--focus-background-color: var(--background-color--full);
}
.skip-link ~ * {
	transition: 250ms ease filter;
}
.skip-link:focus ~ * {
	filter: sepia(100%) saturate(0.5) opacity(0.5);
}
