@import "plumbing";

@import "reset";

@import "structure";

/* Set type */
:root {
	--font-family-base: #{$system-font-family};
	--font-family-heading: var(--font-family-base);
	--font-family-mono: #{$mono-font-family};

	--font-weight-base: 400;

	--font-weight-normal: var(--font-weight-base);
	--font-weight-light: calc(var(--font-weight-normal) - 100);
	--font-weight-heavy: calc(var(--font-weight-normal) + 300);

	--line-height-base: 1.5;
	--line-height-sm: 1.25;
	--line-height-xs: 1;

	--stack-gap: 1em;

	font-size: 120%;
	line-height: var(--line-height-base);
}
@media screen {
	:root {
		font-size: calc(100% + 0.75vw);
	}
}
@media screen and (min-width: 40em) {
	:root {
		--font-weight-base: 375;
	}
}
@media screen and (min-width: 60em) {
	:root {
		--font-weight-base: 350;
	}
}

:focus,
:target {
	outline: 0.1em solid currentColor;

	outline-offset: 0.05em;
	outline-style: dashed;
	outline-color: var(--focus-color, currentColor);

	background-color: var(--focus-background-color, var(--background-color--translucent));
}

::selection {
	color: var(--background-color);
	background-color: var(--link-color);
}

body {
	color: var(--text-color);
	background-color: var(--background-color);

	font-family: var(--font-weight-base);
	font-weight: var(--font-weight-normal);
}

a {
	color: var(--link-color);

	text-decoration-thickness: 2px;
	text-decoration-thickness: max(2px, 0.1em);
	text-underline-offset: 0.05em;

	text-decoration-color: var(--link-color-hover);
}
a:visited {
}
a:hover,
a:active {
	color: var(--link-color-hover);
}

/* External links */

a[target="_blank"]::after {
	content: "\002197"; // north east arrow (U+2197)

	display: inline-block;
	color: var(--link-color-hover);
	transform: translateY(0.1667em);
	line-height: 1;
}
a[target="_blank"] + small {
	margin-left: 0.5em;
}

/* Text states */

strong {
	font-weight: var(--font-weight-heavy);

	a {
		font-weight: calc(var(--font-weight-heavy) + 50);
	}
}

small {
	font-weight: calc(var(--font-weight-normal) + 25);
	font-size: 75%;

	a {
		font-weight: calc(var(--font-weight-normal) + 75);
	}
}

abbr {
	text-decoration: underline dashed;

	text-decoration-line: underline;
	text-decoration-style: dashed;
	text-decoration-color: var(--accent-color);
	text-decoration-thickness: 2px;
	text-underline-offset: 0.1em;
}
a abbr {
	text-decoration-color: transparent;
}

pre,
code {
	font-family: var(--font-family-mono);
	font-weight: inherit;

	font-size: 0.85em;
	font-size: min(0.85em, 0.85rem);
}
pre code {
	background-color: transparent;
	outline-color: transparent;
	box-shadow: none;
}

pre {
	tab-size: 3;

	padding: 0.75em 1em;
	line-height: var(--line-height-sm);

	font-weight: calc(var(--font-weight-base) + 50);

	border-radius: 0.25em;

	overflow-x: auto;

	$scrollbar-track-color: transparent;
	$scrollbar-thumb-color: var(--focus-color);

	$scrollbar-track-height: 0.5em;
	$scrollbar-thumb-height: 0.35em;

	$scrollbar-track-border-radius: 0.25em;
	$scrollbar-thumb-border-radius: 0.75em;

	scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;

	&::-webkit-scrollbar {
		height: $scrollbar-track-height;
	}

	&::-webkit-scrollbar-track {
		background-color: $scrollbar-track-color;

		border-radius: $scrollbar-track-border-radius;
	}

	&::-webkit-scrollbar-thumb {
		$scrollbar-track-start: $scrollbar-track-height - $scrollbar-thumb-height;
		$scrollbar-track-end: $scrollbar-track-height - $scrollbar-track-start;

		background-color: transparent;
		background-image: linear-gradient(
			transparent 0,
			transparent $scrollbar-track-start,
			$scrollbar-thumb-color $scrollbar-track-start,
			$scrollbar-thumb-color $scrollbar-track-end,
			transparent $scrollbar-track-end
		);

		border-radius: $scrollbar-thumb-border-radius;
	}
}
code {
	// padding-inline: 0.25em;
	// margin-inline: 0.125em;

	border-radius: 0.25rem;

	background-color: var(--background-color--translucent);
	// outline: 0.125em solid var(--background-color--translucent);
	box-shadow: 0.125em 0 0 var(--background-color--translucent), -0.125em 0 0 var(--background-color--translucent);
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
	--stack-gap: 1.5rem;

	line-height: var(--line-height-xs);
	font-weight: 550;

	a {
		font-weight: inherit;
	}

	code {
		font-size: 90%;
	}

	max-width: max-content;
}

h1,
.h1 {
	font-size: 1.9em;
	font-size: clamp(1.7em, 7.5vw, 1.9em);

	font-weight: 800;
}
h2,
.h2 {
	font-size: 1.5em;
	font-size: clamp(1.25em, 7.5vw, 1.5em);

	font-weight: 700;
}
h3,
.h3 {
	font-size: 1.2em;
	font-size: clamp(1.1em, 7.5vw, 1.2em);

	font-weight: 650;
}

h1,
.h1,
h2,
.h2 {
	color: var(--heading-color);
}

/* Reasonable list defaults */
ul,
ol {
	padding-left: 1.25em;
}
li ul,
li ol,
li dl {
	margin: 0.25em 0;
	margin: var(--list-spacing, 0.25em) 0;
}

li + li {
	margin-top: 0.25em;
	margin-top: var(--list-spacing, 0.25em);
}

dl {
	display: grid;
	gap: 0.5em 1em;
	grid-template-columns: max-content 1fr;

	line-height: var(--line-height-sm);

	> * {
		--stack-gap: 0;
	}
}

/* Buttons and button links */

.button {
	display: inline-block;
	padding: 0.6em 0.9em;
	line-height: 1;

	background-color: white;

	border-radius: 4rem;
}

// Details/Summary

details {
}

summary {
	padding: 0.3em 0.6em;

	font-weight: calc(var(--font-weight-normal) + 100);

	border-radius: 0.5em;
	line-height: var(--line-height-sm);
}
summary:hover,
summary:active {
	background-color: var(--background-color--translucent);

	cursor: pointer;
}

// Unstyled

details:not([class]) {
	--stack-gap: 0.75em;
	border-radius: 0.5em;

	padding-left: var(--stack-gap, 1rem);
	padding-right: var(--stack-gap, 1rem);

	outline-width: 0.125rem;
	outline-style: solid;
	outline-color: transparent;

	font-size: 0.85rem;
	font-size: min(75%, 0.85rem);

	pre {
		font-size: 0.85rem;
	}

	> summary {
		margin: 0 calc(var(--stack-gap, 1rem) * -1);
	}
}
details:not([class])[open] {
	outline-color: var(--background-color--translucent);
	padding-bottom: var(--stack-gap, 1rem);

	> summary {
		background-image: linear-gradient(var(--background-color--translucent), var(--background-color--translucent));
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		margin-bottom: var(--stack-gap);
		+ * {
			margin-top: 0;
		}
	}
}

// Variants

details.subsection {
	> summary {
		max-width: max-content;
	}
}

/* Site Header Elements */

.site-logo {
	--link-color: var(--text-color);
}
.site-logo a {
	display: inline-block;
}

.site-header-contact-info {
	display: none;
}

/* Site Content Elements */

.lead {
	--font-weight-normal: calc(var(--font-weight-base) + 50);
	--font-weight-heavy: calc(var(--font-weight-base) + 200);

	font-size: 1.4em;
	font-weight: var(--font-weight-normal);
}

.footnotes {
	padding: 0 0.5em;

	font-size: 0.85rem;
	font-size: min(65%, 0.75rem);

	font-style: italic;
	--list-spacing: 0.5em;
}
.footnote-item:target {
}

.footnote-ref a {
	font-weight: calc(var(--font-weight-heavy));
	font-size: 80%;

	&:not(hover) {
		text-decoration-color: transparent;
	}
}

// Blog Posts

article a.external::before {
	content: "🔗";
	content: "🜺";
	content: "⋈";
	content: "⫘";
	display: inline-block;
	padding-right: 0.125em;

	// transform: translateY(-0.125em);
	font-size: 1.25em;
	font-weight: 900;
	line-height: 0.25;

	color: var(--accent-color);
}

article a.permalink {
	// font-size: 0.85em;
	// font-size: max(0.8em, 16px);
}
article a.permalink::before {
	content: "🔗";
	content: "⫘";
	content: "⧐";
	content: "↫";
	content: "↬";
	display: inline-block;
	padding-right: 0.125em;
	transform: translateY(0.06125em);

	font-size: 1.25em;
	line-height: 0.25;

	color: var(--accent-color);
}

article time {
	font-weight: var(--font-weight-heavy);
}

article footer {
	font-size: 0.85rem;
	font-size: min(75%, 0.85rem);
}

/* Utilities */

.has-text-align-center {
	text-align: center;
}

.print-only {
	display: none;
	margin: 0;
}

/* Basic transitions */
a,
summary,
button {
	transition-property: color, background-color, border-color, text-decoration-color, box-shadow, transform, filter,
		opacity;
	transition-timing-function: ease;
	transition-duration: var(--transition-duration, 300ms);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
		--transition-duration: 0.01ms;
	}
}

/* content made available only to screen readers */
.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	border: 0;
	white-space: nowrap;
}
.visually-hidden-focusable:focus {
	width: auto;
	height: auto;
	overflow: visible;
	clip: auto;
	clip-path: none;
	white-space: normal;
}

// Skip Link

#skip-link {
	position: absolute;
	z-index: 10000;

	display: inline-block;
	padding: 0.5em;

	top: 1rem;
	left: 1rem;

	font-weight: var(--font-weight-heavy);

	--focus-background-color: var(--background-color--full);
}
#skip-link ~ * {
	transition: 250ms ease filter;
}
#skip-link:focus ~ * {
	filter: sepia(100%) saturate(0.5) opacity(0.25);
}
