<link rel="preload" href="/static/fonts/Dosis.woff2" as="font" type="font/woff2">

{% set fonts_css %}
{% include "assets/css/fonts.css" %}
{% endset %}
<style>
		{{fonts_css | cssmin | safe}}
</style>