<div class="site-logo">
	{# <a href="{{ '/' | url }}" aria-label="{{ metadata.title }}"> #}
	{% include "static/img/name.svg" %}
	{# </a> #}
</div>

{# {% include "components/nav-site.njk" %} #}
{% include "components/nav-contact.njk" %}
