<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<title>
				{%- if title or renderData.title -%}
						{{ title or renderData.title }}
						&bull;
				{%- endif -%}
				{{ metadata.title }}
		</title>

		{% if description %}
				<meta name="description" content="{{description}}">
		{% endif %}

		{% if robots %}
				<meta name="robots" content="{{robots}}">
		{% endif %}

		{% block fonts %}
				{% include "components/fonts.njk" %}
		{% endblock %}

		{% set css %}
		{% include "assets/css/base.css" %}
		{% endset %}
		<style>
				{{css | cssmin | safe}}
		</style>

		{% include "components/favicon.njk" %}
</head>