<nav class="nav-primary">
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for item in navPages %}
    <li {% if item.url == page.url %} class="current-page"{% endif %}>
      <a href="{{ item.url | url }}">{{ item.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
