---
description: "Cory Birdsong is a front-end web developer that has given you one ticket (🎟) to see if anything chokes on emoji inside meta descriptions."
layout: about.njk
permalink: /
---

<div class="l-stack gap:lg">

<h2>Blog</h2>

{% set postslist = collections.posts %}
{% include "_includes/postslist.njk" %}

</div>
