{% extends "_layouts/_base.njk" %}

{% block content %}
  <article>
    {%- include "_includes/section-about.njk" -%}
    {{ layoutContent | safe }}
  </article>
{% endblock %}

{% block head_css %}
  {{ super() }}
  {% set css %}
  {% include "dist/css/about.css" %}
  {% endset %}
  <style id="about-css">
    {{css | cssmin | safe}}
  </style>
{% endblock %}