{% extends "_layouts/base.njk" %} 

{% block content %}
<article>
	{{ layoutContent | safe }}
</article>
{% endblock %}

{% block head_css %}
{% set css %}
{% include "assets/css/about.css" %}
{% endset %}
<style id="about-css">
	{{css | cssmin | safe}}
</style>
{% endblock %}