<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

		<head>
				{% include "_includes/head.njk" %}

				{% block head_css %}{% endblock %}
		</head>

		<body>
				<a href="#main" class="skip-link | visually-hidden">Skip to main content</a>

				<div class="site-wrapper">

						<header class="site-header">
								<div class="l-container site-header__container">
										{% block header %}
												{% include "_includes/site-header.njk" %}
										{% endblock %}
								</div>
						</header>

						<main id="main">
								{% block content %}
										{{ layoutContent | safe }}
								{% endblock %}
						</main>

						<footer class="site-footer">
								<div class="container site-footer__container">
										{% block footer %}
												{% include "_includes/site-footer.njk" %}
										{% endblock %}
								</div>
						</footer>

				</div>

				{% include "_includes/js.njk" %}
				{% block body_js %}{% endblock %}
		</body>

</html>