<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "_includes/head.njk" %}

	<body>
		<a href="#main" class="visually-hidden">Skip to main content</a>

		<header class="site-header">
			{% include "_includes/site-header.njk" %}
		</header>

		<main id="main">
			{{ layoutContent | safe }}
		</main>

		{% include "_includes/site-footer.njk" %}
		
		{% include "_includes/js.njk" %}

	</body>

</html>
