---
layout: _base.njk
section: post
---

<article class="l-stack gap:lg">

  <header class="l-stack gap:xs">
    <p>
      <time datetime="{{ page.date | datetimeAttr }}">
        {{ page.date | dateShort }}
      </time>
    </p>

    <h1>{{ title | addNbsp | markdown | safe }}</h1>
  </header>

  <div class="l-stack">
    {{ layoutContent | safe }}
  </div>

  <footer class="l-stack gap:sm">
    <p>
      Posted 
      <time datetime="{{ page.date | datetimeAttr }}">{{ page.date | dateFull }}</time>
    </p>
    
    {% if tags %}
    <p>
      Tagged with 
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {%- endif -%}
      {% endfor %}
    </p>
    {% endif %}

  </footer>

</article>

<p>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</p>
