<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<header>
			{% include "components/header.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		<footer>
			{% include "components/footer.njk" %}
		</footer>
		
		{% include "components/js.njk" %}

	</body>

</html>
